
<% if object.errors.messages.any? %>
  <ul id="error_explanation">
    <% object.errors.full_messages.each do |m| %>
      <% if m.match?(locals[:find_error_for])  %>
        <li><%= m %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
